button{
  text-align: center;
  flex-basis: content;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background: #e5e5e5;
  margin-right: 10px;
  font-size: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  cursor: pointer;
}